/* ----- -----  Estilos para la pagina principal ----- ----- */
body{
    font-familia: 'Montserrat', sans-serif;
   background: #66CDAA;
   background: linear-gradient(#F0F8FF, #6495ED);
    
}
.fondo{
    width: 100%;   
}

header{
    background: linear-gradient(#8FBC8F, #20B2AA);
    padding: 10px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    
}
.encabezado{
   
    height: 20px;
    position: relative;
    padding: 20px 0;
       
}

div p{
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
}

.nombre:hover{
    
    color: #114103;
    text-decoration: underline;
    font-size: 24px;    
}

nav{
    position: absolute;
    bottom: 5px;
    right: 80px;
    margin-bottom: 10px;
}

nav li{
    display: inline;    
}

nav a{
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

nav a:hover{
    color: #0e23dd;
    text-decoration: underline;
}

.foto{
    width: 120px;
    float: left;
    padding: 20px;  
    
}
.enlaces{
    height: 175px;
    padding-top: 80px;
    line-height: 150%;
}

.enlaces li, a{
    font-size: 18px;
    display: inline;
    text-decoration: none;
    padding: 5px;   
}

.enlaces p{
    padding: 20px;
    font-size: 18px;   
}
.enlaces strong{
    font-weight: bold;
}

.enlaces ul{
    margin-left: 50px;
} 


.info-personal{
    padding: 20px;
}

.info-personal h1{
    font-size: 20px;
    font-weight: bold;
    padding: 1em;
    text-align: center;
}

.info-personal strong, h1{
    font-weight: bold;
}

.info-personal em{
    font-style: italic;
}

.info-personal p{
    padding: 10px;
    font-size: 18px;
    line-height: 150%;
}

#objetivos{
    padding: 20px;
    margin-left: 20px;
    font-weight: bold;
}

.info-personal ul{
    padding: 10px;
    margin-left: 15px;
    line-height: 15%;
}
.info-personal li{
    padding: 10px;
   font-size: 18px;
   text-align: left;
   font-weight: normal;
}


.conocimientos{
    width: 940px;    
    margin: 0 auto;
    padding: 50px;
}
.conocimientos li{
    display: inline-block;
    text-align: center;
    width: 21%;
    height: 250px;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 10px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #EEE8AA;
    
}

.conocimientos li:hover{
    border-color: #C78C19;
    
}

.conocimientos li:active{
    border-color: #088C19;
}

.conocimientos h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;  
    padding: 15px;  
}

.conocimientos li:hover, h2{
    font-size: 30px;  
    font-weight: bold;  
    text-align: center;
    padding: 20px;
    margin-bottom: 5px;
}

.conocimientos img{
    width: 120px;
}

#formacion ul{
    text-align: center;

}

#formacion h2, li{
    font-size: 25px;  
    font-weight: bold;  
    text-align: center;
    padding: 20px;
    margin-bottom: 5px;    
    
}
#proyectos ul{
    text-align: center;
}
#proyectos li{
   width: 25%;
}
/* ----- -----  Estilos para Contactos ----- ----- */
.formulario {
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario_label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario_grupo-input {
	position: relative;
}

.formulario_input {
	width: 40%;
	background: rgb(211, 209, 206);
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario_input:focus {
	border: 3px solid #14e20d;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario_input-error {
	font-size: 12px;
	color: #e41515;
	margin-bottom: 0;
	display: none;
}

.formulario_input-error-activo {
	display: block;
}

.formulario_validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario_mensaje,
.formulario_enviar {
	grid-column: span 2;
}

.formulario_mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario_mensaje-activo {
	display: block;
}

.formulario_mensaje p {
	margin: 0;
}

#mensaje{
    width: 35%;
    background: rgb(211, 209, 206);
}
.formularios_btn-enviar {
	
	flex-direction: column;
	align-items: center;
}
.formularios_btn:disabled{
	background: #949494;
}

.formularios_btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: rgb(233, 181, 9);
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}
.formularios_btn:hover {
	box-shadow: 3px 0px 30px rgb(17, 16, 16);
}

.formulario_mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario_mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario_grupo-correcto .formulario_validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario_grupo-incorrecto .formulario_label {
	color: #bb2929;
}

.formulario_grupo-incorrecto .formulario_validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario_grupo-incorrecto .formulario_input {
	border: 3px solid #bb2929;
}


.formulario__mensaje,
	.formulario_btn-enviar {
		grid-column: 1;
	}

	.formulario_btn {
		width: 100%;
	}
/* ----- -----  Estilos para Footer ----- ----- */
footer{    
    margin-top: 10px;
    width:100%;
    height:125px;
    text-align: center;
    background: linear-gradient(#EEE8AA, #688E23);
    padding: 20px;
    
    
    
}
footer img{
    width: 100px; 
       
}
